@import '../assets/css/variables';

.hero {
  background: linear-gradient(to bottom right, darken($brand-primary, 40%), $brand-primary);
  display: flex;
  flex-flow: column;
  justify-content: center;

  //Debug
  height: 60vh;
}

.heroHeader {
  text-align: center;
  color: $brand-secondary; 

  @media screen and (min-width: 45em) {
    max-width: 60em;
    margin: 0 auto;
  }

  & > h1 {
    font-size: 4em;
    font-weight: bold;
  }
}
