@import '../../assets/stylesheets/variables';
@import '../../assets/stylesheets/mixins';

.remove {
  @include border-left;
  @include border-right;
  padding: 1em 1.5em;
  border: 2px solid $brand-secondary;
  position: relative;

  &:hover::after {
    right: 0;
    width: 100%;
  }

  &::after {
    content: "";
    background: $brand-secondary;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 500ms ease-in-out;

  }
}
