@import '../assets/css/variables';

.siteHeader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: transparent;
  padding: 1em 3em;

  & ul {
    display: flex;
    margin: 0;
    padding: 0;

    & > li {
      margin: 0.5em 1em;
    }
  }
}

.navlink {
  text-decoration: none;
  color: $brand-secondary;
}
